<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/logs/" />
    <ResourcePreloader />
   
    <link rel="stylesheet" href="@Assets["bootstrap/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["font-awesome/css/all.min.css"]" />
    <link rel="stylesheet" href="@Assets["logs.css"]" />
    <link href="_content/Telerik.UI.for.Blazor/css/kendo-font-icons/font-icons.css" rel="stylesheet" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js" defer></script>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["LogWeb.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Blazor.start();
        });
    </script>
</body>

</html>
